name: Test

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:
   testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo systemctl start postgresql.service ; pg_isready
      - run: cat db-migration/initdb.d/01_docker-bootstrap.sql | sudo -u postgres psql -f -
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Check
        uses: gradle/gradle-build-action@v2
        env:
          DATABASE_HOST: localhost
        with:
          arguments: check



